{
    ORGANISM: "axolotl"
    GENOME_FASTA_INPUT: "/links/groups/treutlein/USERS/tomasgomes/gene_refs/axolotl/Amex_T_v47/genome/AmexG_v6_chr/AmexG_v6.chr_cut.fa"
    GENE_ANNOTATION_INPUT: "/links/groups/treutlein/USERS/tomasgomes/gene_refs/axolotl/Amex_T_v47/genome/AmexG_v6_chr/AmexT_v47.FULL_corr_chr_cut.gtf"
    PRIMARY_CONTIGS: ["chr10ps1","chr10ps2","chr10ps3","chr10qs1","chr10qs2","chr11p",chr11qs1","chr11qs2","chr11qs3","chr12p","chr12qs1","chr12qs2","chr13p","chr13q","chr14p","chr14q","chr1ps1","chr1ps2","chr1ps3","chr1qs1","chr1qs2","chr1qs3","chr2ps1","chr2ps2","chr2ps3","chr2qs1","chr2qs2","chr2qs3","chr3ps1","chr3ps2","chr3qs1","chr3qs2","chr3qs3","chr3qs4","chr4ps1","chr4ps2","chr4ps3","chr4qs1","chr4qs2","chr4qs3","chr5ps1","chr5ps2","chr5ps3","chr5qs1","chr5qs2","chr5qs3","chr6ps1","chr6ps2","chr6ps3","chr6qs1","chr6qs2","chr6qs3","chr6qs4","chr7ps1","chr7ps2","chr7qs1","chr7qs2","chr7qs3","chr8ps1","chr8ps2","chr8qs1","chr8qs2","chr9p","chr9qs1","chr9qs2","chr9qs3"]
    NON_NUCLEAR_CONTIGS: []
    MOTIF_INPUT: [""]
}
